<link rel="stylesheet" href="/css/home.css">

<div class="home-container">
    <h1>Bienvenido al registros de usuarios para Backend2</h1>
    <p>Explora todas las rutas creadas para un correcto funcionamiento</p>

        <div class="home-buttons">
        <a href="/register">Registrarse</a>
        <a href="/login">Iniciar Sesión</a>
    </div>
</div>