<!DOCTYPE html>
<html lang="es">
<head>
    <title>Perfil</title>
     <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <h1>Bienvenido, {{user.first_name}}!</h1>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <a href="/api/auth/logout">Cerrar sesión</a>
</body>
</html>